@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer>
    <div class="container">
           <div class="main-content">
            <div class="logo">
                <img src="~/images/logos/Logo-white.svg" alt="">
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</div>
            </div>
            <div class="links">
                <div class="title">Company</div>
                <a href="#">About</a>
                <a href="#">Features</a>
                <a href="#">Works</a>
                <a href="#">Career</a>
            </div>
            <div class="links">
                <div class="title">Help</div>
                <a href="#">Customer Support</a>
                <a href="#">Delivery Details</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="links">
                <div class="title">Resources</div>
                <a href="#">Free eBooks</a>
                <a href="#">Development Tutorial</a>
                <a href="#">How to - Blog</a>
                <a href="#">Youtube Playlist</a>
            </div>
            <div class="links">
                <div class="title">Media</div>
                <a href="#">Free eBooks</a>
                <a href="#">Development Tutorial</a>
                <a href="#">How to - Blog</a>
                <a href="#">Youtube Playlist</a>
            </div>
        </div>
        <div class="bottom-border">
            <div class="copyrights">© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</div>
        </div>
    </div>
</footer>
    
    