@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PageWithShowcase>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
	ViewData["PageTitle"] = @Model.Value("pageTitle");
	ViewData["PageDescription"] = @Model.Value("pageDescription");
}

<!-- header -->
<header>
    @await Html.PartialAsync("_NavSection")
  
</header>

<main>
    @await Html.PartialAsync("_ShowcaseSection")
    @await Html.PartialAsync("_BrandSection")
</main>